extends layout

block content
    .container.my-5
        .row.justify-content-center
            .col-md-6
                .card.shadow-lg.border-0
                    .card-header.text-center.bg-primary.text-white
                        h1 Complete Payment
                        
                    .card-body
                        // Payment Method Logos Section
                        .text-center.mb-4
                            h5.text-secondary.mb-3 Accepted Payment Methods
                            img(src='/images/visa.png' alt='Visa' class='mx-2' width='50')
                            img(src='/images/Mastercard_logo.jpg' alt='MasterCard' class='mx-2' width='50')
                            img(src='/images/amex.jpg' alt='American Express' class='mx-2' width='50')
                            img(src='/images/discover.jpg' alt='Discover' class='mx-2' width='50')

                        // Alert Section
                        if alerts
                            each alert in alerts
                                .alert(class=alert.type, style='padding: 10px; margin-bottom: 10px;')
                                    p= alert.message

                        form(action='/payment' method='POST' class='mt-4')
                            .form-group
                                label(for='userPayment' class='font-weight-bold text-secondary; color: black') Total Bill
                                p.text-dark Price: $#{price}
                                p.text-dark Tax (#{tax}%): $#{taxPrice}
                                p.text-success.font-weight-bold Total: $#{totalPrice}

                                input.form-control.mt-3(type='text' id='userPayment' name='userPayment' placeholder='Enter the total payment amount' required)

                            button.btn.btn-primary.btn-block.mt-4(type='submit')
                                | Confirm Payment
                                
    footer.text-center.mt-4.text-muted
        p &copy; 2024 Payment Processor Inc. All rights reserved.